

body, html{
  margin:0;
  padding:0;
}

html {
  background-image: url('Background/Background 2.png');
  margin: auto;
  background-size:cover;
  background-position: center,contain;
  background-repeat: no-repeat;
}
.banner {
  padding: 5px;
  letter-spacing: 10px;
  font-size: 100%;
  text-align: CENTER;
  margin: center;
  border: 1px solid green;
}

.left {
  position: absolute;
  left: 300px;
  width: 100px;
  height: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
  
}

#button-holder {
  border: 3px solid black;
  padding-top: -10px;
  width: 200px;
  height: 500px;
  
}

button {
  display: inline;
  margin: auto;
  padding-top: 30px;
  padding: 10px;
}

.right {
  position: absolute;
  right: 400px;
  width: 500px;
  border: 3px solid #73AD21;
  padding: 10px;
  
}

#sketch-holder {
  border: 1px solid blue;
  width: 600px;
  height: 800px;

}
canvas{
  display:block;
  align-content: center;
  margin: auto;
  width: 600px;
  height: 800px;
  padding-top: 10px;
  padding-left: 10px;
 
}


