

body, html{
  margin:0;
  padding:0;
}

h1 {
color: aliceblue;

}
html {
  background-image: url('Background/Background 2.png');
  margin: auto;
  background-size:cover;
  background-position: center,contain;
  background-repeat: no-repeat;
}
.banner {
  padding: 5px;
  letter-spacing: 10px;
  font-size: 100%;
  text-align: CENTER;
  margin: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.left {
  position: absolute;
  left: 500px;
  width: 250px;
  height: 300px;
  padding: 0px;
  padding-top: 75px;
  
}

#button-holder {
  border: 3px solid black;
  padding-top: -10px;
  width: 275px;
  height: 500px;
  
}

button {
  display: inline;
  margin: auto;
  padding-top: 30px;
  padding: 10px;
}

.right {
  position: absolute;
  right: 325px;
  width: 430px;
  height: 580px;
  border: 3px solid #73AD21;
  padding: 0px;
  padding-top: 50px;
  
}

#sketch-holder {
  border: 1px solid blue;
  width: 430px;
  height: 580px;

}
canvas{
  display:block;
  align-content: center;
  margin: auto;
  width: 600px;
  height: 800px;
  padding-top: 10px;
  padding-left: 10px;
 
}


